<h1>Click a Song to View It</h1>
<%= link_to 'Add Song', new_artist_song_path(@artist) %>

  <% @songs.each do |song| %>
    <%= link_to song.name, [@artist, song] %>
    <%= link_to "Delete", [@artist, @song], method: :delete %>
    <%= link_to "Edit", [@artist, @song]%>
  <% end %>

<%= link_to "Back", [@artist, @song]%>